<div class="wrapper" id="wrapper">
	<nav class="nav">
		<ul class="nav__ul container">
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					routerLink="/worlds"
					class="nav__a"
				>
					<span class="material-icons">public</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					routerLink="/timeline"
					class="nav__a"
				>
					<span class="material-icons">menu_book</span>
				</a>
			</li>
		</ul>
	</nav>

	<div class="main">
		<router-outlet></router-outlet>
	</div>
</div>
