<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div class="documents-header-left__arrow" (click)="back()">
						<span class="material-icons">arrow_back_ios</span>
					</div>
					<div
						class="documents-header-left__avatar"
						routerLink="/profile"
					>
						<img [src]="userService.thumb" alt="" />
					</div>
				</div>
				<div class="documents-header__title">Title header</div>
				<div
					(click)="isMenuOpen = !isMenuOpen"
					class="burger-wrap"
					class="burger-wrap"
				>
					<div
						[class.burger--close]="isMenuOpen"
						class="burger"
					></div>
				</div>
			</div>
			<div
				[class.documents-sidebar--open]="isMenuOpen"
				class="documents-sidebar"
			>
				<div
					(click)="isMenuOpen = !isMenuOpen"
					class="documents-sidebar__close"
				>
					<span class="material-icons">close</span>
				</div>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img
							[src]="story.thumb ? url + story.thumb : 'assets/default.png'"
							alt=""
						/>
					</div>
					<div class="documents-sidebar__title">{{story.name}}</div>
					<div
						class="documents-sidebar__description"
						[innerHTML]="story.description"
					></div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__title">Stories</div>
						<div class="documents-triggers">
							<div
								routerLink="/event/{{event._id}}"
								class="documents-triggers__wrap"
								*ngFor="let event of events"
							>
								<div class="documents-triggers__item">
									<div class="documents-triggers__img">
										<img
											[src]="event.thumb ? url + event.thumb : '/assets/default.png'"
											alt=""
										/>
									</div>
									<div class="documents-triggers__title">
										{{event.name}}
									</div>
									<!-- <div
										class="documents-triggers__description"
										[innerHTML]="event.description"
									></div> -->
								</div>
							</div>
						</div>
					</div>
					<div
						*ngFor="let change of changes"
						class="documents-main-row"
					>
						<div class="documents__title">{{change.name}}</div>
						<div class="documents-triggers">
							<div
								class="documents-triggers__wrap"
								*ngFor="let type of types | types : change._id"
							>
								<div class="documents-triggers__item">
									<div class="documents-triggers__img">
										<img
											[src]="type.thumb ? url + type.thumb : '/assets/default.png'"
											alt=""
										/>
									</div>
									<div class="documents-triggers__title">
										{{type.name}}
									</div>
									<div
										class="documents-triggers__description"
										[innerHTML]="type.description"
									></div>
								</div>
							</div>
						</div>
					</div>
					<div class="documents-main-row">
						<div class="documents__title">Characters</div>
						<div class="documents-triggers">
							<div
								*ngFor="let character of characters"
								class="documents-triggers__wrap"
							>
								<div class="documents-triggers__item">
									<div class="documents-triggers__img">
										<img
											[src]="character.thumb ? url + character.thumb : '/assets/default.png'"
											alt=""
										/>
									</div>
									<div class="documents-triggers__title">
										{{character.name}}
									</div>
									<div
										class="documents-triggers__description"
										[innerHTML]="character.description"
									></div>
								</div>
							</div>
						</div>
					</div>
					<div class="documents-main-row">
						<div class="documents__title">Locations</div>
						<div class="documents-triggers">
							<div
								*ngFor="let location of locations"
								class="documents-triggers__wrap"
							>
								<div class="documents-triggers__item">
									<div class="documents-triggers__img">
										<img
											[src]="location.thumb ? url + location.thumb : '/assets/default.png'"
											alt=""
										/>
									</div>
									<div class="documents-triggers__title">
										{{location.name}}
									</div>
									<div
										class="documents-triggers__description"
										[innerHTML]="location.description"
									></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
