<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-main">
				<div class="documents-main-content">
					<div
						routerLink="/world/{{story._id}}"
						*ngFor="let story of stories"
						class="documents-main-row"
					>
						<div class="documents-wrap">
							<div class="documents-img">
								<img
									[src]="story.thumb ? url + story.thumb : '/assets/default.png'"
									alt=""
								/>
							</div>
							<div class="documents-text">
								<div class="documents-text__title">
									{{story.name}}
								</div>
								<div
									class="documents-text__description"
									[innerHTML]="story.description"
								></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
