<!-- General Input -->
<label
	*ngIf="type !== 'radio' && type !== 'checkbox' && type !== 'textarea'"
	class="w-forms"
	[for]="name"
>
	<span class="w-forms__title" *ngIf="label"
		>{{ 'Input.' + label | translate }}</span
	>
	<div style="position: relative">
		<input
			[placeholder]="'Input.' + (placeholder || 'Enter text...') | translate"
			(ngModelChange)="value = $event; onChange(); error = false"
			(keyup.enter)="onSubmit()"
			[type]="type || 'text'"
			class="w-forms__input"
			(blur)="wBlur.emit()"
			[class.error]="error"
			[disabled]="disabled"
			[ngModel]="value"
			[ngClass]="wClass"
			[name]="name"
			#inputEl
		/>
		<i
			style="position: absolute; right: 7px; bottom: 8px"
			(click)="value = null; onSubmit(); focus()"
			class="material-icons"
			*ngIf="clearable"
			>close</i
		>
	</div>
	<!-- Error Message Display -->
	<div *ngIf="error" class="error-message">
		{{ 'Input.' + (label || placeholder) + ' is invalid.' | translate }}
	</div>
	<ng-content></ng-content>
</label>

<!-- Textarea -->
<ng-container *ngIf="type === 'textarea'">
	<label class="w-forms" [for]="name">
		<span class="w-forms__title">{{ label }}</span>
		<textarea
			[placeholder]="'Input.' + (placeholder || 'Enter text...') | translate"
			(ngModelChange)="value = $event; onChange()"
			(keyup.enter)="onSubmit()"
			class="w-forms__textarea"
			(blur)="wBlur.emit()"
			[disabled]="disabled"
			[class.error]="error"
			[ngModel]="value"
			[ngClass]="wClass"
			[name]="name"
			#inputEl
		></textarea>
		<!-- Error Message Display -->
		<div *ngIf="error" class="error-message">
			{{ 'Input.' + (label || placeholder) + ' is invalid.' | translate }}
		</div>
	</label>
</ng-container>

<!-- Radio Buttons -->
<ng-container *ngIf="type === 'radio'">
	<label
		[class.disabled]="disabled"
		*ngFor="let item of items"
		class="check-label"
	>
		<span class="form-label">{{'Input.' + item | translate }}</span>

		<input
			(ngModelChange)="value = $event; onChange()"
			class="w-input__checkbox"
			[disabled]="disabled"
			[class.error]="error"
			[ngModel]="value"
			[ngClass]="wClass"
			[value]="item"
			[name]="name"
			type="radio"
			#inputEl
		/>

		<span class="mark mark--radio"></span>
		<ng-content></ng-content>
	</label>
</ng-container>

<!-- Checkboxes -->
<ng-container *ngIf="type === 'checkbox'">
	<ng-container *ngIf="items?.length">
		<label
			*ngFor="let item of items; index as i"
			[class.disabled]="disabled"
			class="check-label"
		>
			<span class="form-label">{{'Input.' + item | translate }}</span>
			<input
				(ngModelChange)="setCheckboxValue($event, i); onChange()"
				class="w-input__checkbox"
				[disabled]="disabled"
				[class.error]="error"
				[ngClass]="wClass"
				type="checkbox"
				[name]="name+i"
				#inputEl
				ngModel
			/>
			<span class="mark"></span>
		</label>
	</ng-container>
	<ng-container *ngIf="!items?.length">
		<label class="check-label" [class.disabled]="disabled">
			<span class="check-text form-label" *ngIf="label"
				>{{ 'Input.' + label | translate }}</span
			>
			<input
				(ngModelChange)="value = $event; onChange()"
				class="w-input__checkbox"
				[disabled]="disabled"
				[class.error]="error"
				[ngModel]="value"
				[ngClass]="wClass"
				type="checkbox"
				[name]="name"
				#inputEl
			/>
			<span class="mark"></span>
		</label>
	</ng-container>
</ng-container>
